:root {
	--color-text: #303952;
	--color-button: #eb3b5a;
	--color-button-content: #ffffff;
	--color-card: #ffffff;
	--color-gradient-start: #fc00ff;
	--color-gradient-mid: #54a0ff;
	--color-gradient-stop: #78ffd6;
	--color-selection-background: #b53471;
	--color-selection-color: #ffffff;
}

::selection {
	color: var(--color-selection-color);
	background: var(--color-selection-background);
}

::-moz-selection {
	color: var(--color-selection-color);
	background: var(--color-selection-background);
}

body {
	position: relative;
	width: 100wh;
	height: 90vh;
	z-index: 1;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 1em;
  	font-weight: 200;
  	line-height: 1.5em;
  	letter-spacing: 0.1em;
  	color: var(--color-text);
	background: var(--color-gradient-mid);
	background: linear-gradient(-45deg, var(--color-gradient-start), var(--color-gradient-mid), var(--color-gradient-stop));
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	-moz-animation: gradient 15s ease infinite;
	-ms-animation: gradient 15s ease infinite;
	-o-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@-moz-keyframes gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@-webkit-keyframes gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

.card {
  	display: inline-block;
	position: absolute;
	width: 50%;
    -webkit-transform: translate(50%, 15%);
	-moz-transform: translate(50%, 15%);
    -ms-transform: translate(50%, 15%);
	-o-transform: translate(50%, 15%);
	transform: translate(50%, 15%);
  	text-align: justify;
	background: var(--color-card);
 	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  	-webkit-transition: box-shadow 250ms ease-in-out;
	-moz-transition: box-shadow 250ms ease-in-out;
  	-ms-transition: box-shadow 250ms ease-in-out;
	-o-transition: box-shadow 250ms ease-in-out;
  	transition: box-shadow 250ms ease-in-out;
}

.card:hover {
  	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.hero {
  	height: 10%;
  	opacity: 0.9;
  	overflow: hidden;
  	-webkit-transition: opacity 250ms ease-in-out;
	-moz-transition: opacity 250ms ease-in-out;
  	-ms-transition: opacity 250ms ease-in-out;
	-o-transition: opacity 250ms ease-in-out;
  	transition: opacity 250ms ease-in-out;
}

.hero:hover,
.card:hover .hero {
  	opacity: 1;
}

.text {
	min-height: 10%;
	padding: 1em;
}

.buttons {
	position: absolute;
	margin-top: -3em;
	right: 0.5em;
}

.button {
	display: inline-block;
	position: relative;
  	width: 1.5em;
  	height: 1.5em;
	margin: 0 0.25em;
	padding: 0.25em;
  	border-radius: 50%;
  	text-align: center;
  	font-size: 1.5em;
  	cursor: pointer;
  	color: var(--color-button-content);
  	background: var(--color-button);
 	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
  	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
  	transform: translateZ(0);
}

.button:hover {
	-webkit-animation-name: wobble;
  	animation-name: wobble;
  	-webkit-animation-duration: 1s;
  	animation-duration: 1s;
  	-webkit-animation-timing-function: ease-in-out;
  	animation-timing-function: ease-in-out;
  	-webkit-animation-iteration-count: 1;
  	animation-iteration-count: 1;
}

.button i {
	padding-top: 0.25em;
	padding-left: 0.07em;
}

p a:link,
p a:visited,
p a:hover,
p a:active {
	color: var(--color-text);
	text-decoration: none;
	font-style: italic;
}

.bye {
	text-align: right;
	font-style: italic;
}

@keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
	-o-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
	-o-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
	-o-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
	-moz-transform: translateY(0);
    -ms-transform: translateY(0);
	-o-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (max-width: 720px) {
	.card {
		width: 100%;
    	-webkit-transform: translate(0, 10%);
		-moz-transform: translate(0, 10%);
    	-ms-transform: translate(0, 10%);
		-o-transform: translate(0, 10%);
		transform: translate(0, 10%);
	}
}
